<h1> Log a New Visit </h1><br>

<% if @visit.errors %>
    <% @visit.errors.full_messages.each do |msg| %>
    <%= msg %><br>
    <% end %>
<% end %>
<br>

<div class="container">
<%= form_for(@visit) do |x| %>
    <div class="row">
    <%= collection_check_boxes :visit, :country_id, Country.all, :id, :name do |c| %>
        <div class="col-lg-4">
        <%= c.check_box %><%= c.label %>
        </div>
        <% end %>
    <%= x.submit("Create Visit") %>
    </div>
<% end %>
</div>