<div class="card">
    <div class="card-body">
    <h1 class="card-title">Edit Your Profile</h1>

<%= form_for @user do |f| %>
  New Profile Picture: <%= f.text_field :profile_pic %><br>
  Age: <%= f.text_field :age %><br>
  Country of Origin: <%= f.text_field :country_of_origin %><br>
  <%= f.submit "Edit User", :class => 'btn btn-primary' %>
<% end %>

  </div>
</div>