<h1> Created User Details </h1>


<% if session[:user_id] == @user.id %>
  <h2><%= link_to "Create New Trip", new_visit_path %></h2>
<% end %>




<h2><%= @user.name %></h2><br><br>
<img src="<%= @user.profile_pic %>" alt="My Profile Pic" height = "100" width = "100">
<h3>Points: <%= @user.points %></h3>
<ul>
  <li>Age: <%= @user.age %></li>
  <li>Country: <%= @user.country_of_origin %></li>
</ul>

<h3>VISITS</h3>
<h4>Number of Visits: <%= @user.visits.length %></h4>
<ul>
  <% @user.countries.uniq.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>

<% if session[:user_id] == @user.id %>
  <%= link_to "Edit User", edit_user_path(@user) %>
  <%= link_to('Delete User', user_path(@user), method: :delete, data: {confirm: "Are you sure?"}) %>
<% end %>
