<h1> <%= current_user.name %> </h1>
<h2>Rank: <%= current_user.title %></h2>
<h3> Rankings </h3>
<ul>
<li># <%= current_user.my_rank_by_countries %> in Countries visited!</li>
<li># <%= current_user.my_rank_by_points %> in Points Accumulated!</li>
<li># <%= current_user.my_rank_by_visits %> in Trips Taken!</li>
</ul>




<img src="<%= current_user.profile_pic %>" alt="My Profile Pic" height = "100" width = "100">
<h3>Points: <%= current_user.points %></h3>
<ul>
  <li>Age: <%= current_user.age %></li>
  <li>Country of Origin: <%= current_user.country_of_origin %></li>
</ul>

<h3>VISITS</h3>
<h4>Number of Visits: <%= current_user.visits.length %></h4>
<ul>
  <% current_user.countries.uniq.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>

<h3>POSTS</h3>
<% if @posts.length > 0 %>
  <% @posts.each do |p|%>
    <li><%= p.title %></li><p><%=p.content %></p>
    <p><%= link_to 'add comment', {:controller => "comments", :action => "new", :post => p} %></p><br><br><br>
  <% end %>
<% else %>
  You don't have any posts <br><br>
<% end %>


<% if session[:user_id] == current_user.id %>
  <%= link_to "Create New Trip", new_visit_path %><br>
  <%= link_to "Create New Post", new_post_path(current_user) %><br>
  <%= link_to "Edit User", edit_user_path(current_user) %><br>
  <%= link_to('Delete User', user_path(current_user), method: :delete, data: {confirm: "Are you sure?"}) %><br>
<% end %>
