<div class="card">
    <div class="card-body">
    <h1 class="card-title"><%= @user.name %></h1>
<h2>Rank: <%= @user.title %></h2>
<h3> Rankings </h3>
<ul>
<li># <%= @user.my_rank_by_countries %> in Countries visited!</li>
<li># <%= @user.my_rank_by_points %> in Points Accumulated!</li>
<li># <%= @user.my_rank_by_visits %> in Trips Taken!</li>
</ul>




<img src="<%= @user.profile_pic %>" alt="My Profile Pic" height = "100" width = "100">
<h3>Points: <%= @user.points %></h3>
<ul>
  <li>Age: <%= @user.age %></li>
  <li>Country of Origin: <%= @user.country_of_origin %></li>
</ul>

<h3>VISITS</h3>
<h4>Number of Visits: <%= @user.visits.length %></h4>
<ul>
  <% @user.countries.uniq.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>

<h3>POSTS</h3>
<% if @posts.length > 0 %>
  <% @posts.each do |p|%>
    <li><%= link_to p.title, post_path(p) %></li>
    <p><%=p.content %></p>
  <% end %>
<% else %>
  You don't have any posts <br><br>
<% end %>


<% if session[:user_id] == @user.id %>
  <%= link_to "Create New Trip", new_visit_path %><br>
  <%= link_to "Create New Post", new_post_path(@user) %><br>
  <%= link_to "Edit User", edit_user_path(@user) %><br>
  <%= link_to('Delete User', user_path(@user), method: :delete, data: {confirm: "Are you sure?"}) %><br>
<% end %>
</div>
</div>
